@font-face {
  font-family: "minecraft standard";
  src: url("/Yasmim/fonts/MinecraftStandard.otf");
  font-weight: 400;
}

@font-face {
  font-family: "minecraft standard";
  src: url("/Yasmim/fonts/MinecraftStandardBold.otf");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  background-color: black;
  font-family: minecraft standard;
}

@media (min-width: 600px) {
  header {
    display: flex;
    justify-content: center;
    padding-top: 35px;
  }

  .titulo {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 15px;
  }

  .titulo p {
    color: #878787;
  }

  .creeper {
    fill: white;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding-top: 30px;
  }
  .container-barraLateral {
    display: flex;
    justify-content: center;
    background-color: #111111;
    border-radius: 7px;
    width: 220px;
    height: 560px;
    position: relative;
  }
  .scriptsujo10 {
    position: absolute;
    height: 150px;
    width: auto;
    top: -95px;
    left: -80px;
  }

  .container-principal {
    display: flex;
    border-radius: 7px;
    justify-content: center;
    background-color: #111111;
    width: 928px;
    height: 560px;
  }

  .principal-mensagem {
    margin-top: 15px;
  }

  .barraLateral-mensagem {
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  header {
    display: flex;
    justify-content: center;
    padding-top: px;
  }

  .titulo {
    display: flex;
    text-align: end;
    margin-top: 30px;
    gap: 15px;

    .creeper {
      height: 50px;
      width: auto;
      fill: white;
      margin-top: 10px;
    }

    p {
      margin-top: -10px;
      color: #878787;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-top: 65px;

    .container-barraLateral {
      display: flex;
      position: relative;
      justify-content: center;
      background-color: #111111;
      border-radius: 7px;
      width: 340px;
      height: 77px;

      .scriptsujo10 {
        position: absolute;
        height: 94px;
        width: auto;
        left: -23px;
        top: -45px;
      }
    }

    .container-principal {
      display: flex;
      border-radius: 7px;
      justify-content: center;
      background-color: #111111;
      width: 340px;
      height: 1000px;
    }

    .principal-mensagem {
      margin-top: 15px;
    }

    .barraLateral-mensagem {
      margin-top: 15px;
    }
  }
}
